<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">选择背景</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="container">
      <li ng-click="changebClass()"><img ng-src="" alt="" class="block image">black</li>
      <li ng-click="changebClass('b-paper')"><img ng-src="img/paper.gif" alt="" class="block image">paper</li>
      <li ng-click="changebClass('b-metal')"><img ng-src="img/metal.gif" alt="" class="block image">metal</li>
      <li ng-click="changebClass('b-desert')"><img ng-src="img/bgdesert.gif" alt="" class="block image">desert</li>
    </ul>
  </ion-content>
</ion-popover-view>
